 <% layout("/layouts/boilerplate") -%>
<div class="row mt-3 mb-3 ">
  <div class="col-8 offset-2">   
      <h3>Edit your Listing</h3>
    </div>
    <body>
       
      <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" novalidate class="needs-validation">
        <div class="row mt-3" >
          <div class="col-8 offset-2">

       <div class="mb-2">
          <label for="title" class="form-lebel">Title</label>
          <input name="listing[title]" value="<%= listing.title %>" type="text" class="form-control" required />
              <div class="valid-feedback">
                Title Looks good!
              </div>
        </div>

       <div class="mb-2">
          <label for="description" class="form-lebel">description</label>
          <textarea name="listing[description]" class="form-control" required>
            <%= listing.description %></textarea
           >
           <div class="invalid-feedback">Please Enter a Short Description
        </div>

        <div class="mb-2 ">
          <label for="image" class="form-lebel">Image Url</label>
          <input name="listing[image]" value="<%= listing.image %>" type="text" class="form-control" required />
          <div class="invalid-feedback">Please Enter a Valid</div>
        </div>

        
        <div class="row">
          <div class="mb-2 col-md-4">
            <label for="price" class="form-lebel">Price</label>
            <input name="listing[price]" value="<%= listing.price %>" type="number"  class="form-control" required/>
            <div class="invalid-feedback">Price Should be Valid!</div>
          </div>
    
          <div class="mb-2 col-md-8">
            <label for="Country" class="form-lebel">Country</label>
            <input
            name="listing[country]"
            value="<%= listing.country %>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country Should be Valid!</div>
          </div >

        </div>
       
        <div class="mb-2">
          <label for="location" class="form-lebel">location</label>
          <input
          name="listing[location]"
          value="<%= listing.location %>"
          type="text"
          class="form-control"
          required
         />
         <div class="invalid-feedback"> Location Should be Valid!</div>
        </div>
        
        <button class="btn btn-dark edit-btn mt-3">Edit</button>
        <br>
        </form>
        </div>
        </div>
  
  
</body>
  </div>
</div>

  

   
   
   